{{ define "main" }}
<article class="blog-list">
  {{- partial "breadcrumbs.html" . -}}
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p class="description">{{ . }}</p>{{ end }}
    {{- partial "tags.html" . -}}
  </header>
  <ul class="post-list">
    {{ range .Pages }}
    <li class="post-item">
      <a href="{{ .RelPermalink }}">
        <span class="post-title">{{ .Title }}</span>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" | lower }}</time>
      </a>
    </li>
    {{ end }}
  </ul>
</article>
{{ end }}