{{- $folder := .Get "folder" -}}
{{- $images := resources.Match (printf "%s/*" $folder) -}}
{{- $pattern := slice 1 2 2 1 1 1 2 1 1 -}}
<div class="gallery">
  {{- range $i, $img := $images -}}
    {{- $resized := $img.Resize "1200x webp q85" -}}
    {{- $ratio := div (float $img.Width) (float $img.Height) -}}
    {{- $cols := index $pattern (mod $i (len $pattern)) -}}
    {{- if ge $ratio 2.5 -}}
      {{- $cols = 3 -}}
    {{- end -}}
    {{- $class := "gallery-item" -}}
    {{- if eq $cols 2 -}}
      {{- $class = "gallery-item gallery-wide" -}}
    {{- else if eq $cols 3 -}}
      {{- $class = "gallery-item gallery-panorama" -}}
    {{- end -}}
    <a href="{{ $img.RelPermalink }}" class="{{ $class }}">
      <img src="{{ $resized.RelPermalink }}" alt="" loading="lazy">
    </a>
  {{- end -}}
</div>
